@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Montserrat:wght@300&display=swap&display=swap');

body {
    background-image: url("../images/background.png");
}

/* Put a low opacity image of a gingerbread man in the background */
body::after {
    content: "";
    background: url("../images/player1_token.png");
    background-position-x: right;
    background-position-y: 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

/* Layout of the overall page */

.game-container {
    display: flex;
    min-height:100vh;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
}

.board-container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    margin-top: 1em;
}


/* Style the title */
.title-container {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Emilys Candy';
    font-weight: 400;
    font-size: 64px;
}


/* Layout of the game board */
table {
    border-spacing: 0;
}

td {
    margin: 0;
    padding: 0;
}

.w3-panel {
    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
    text-align: center;
}

/* Styles for the game board */

.top-left {
    border-radius: 20px 0px 0px 0px;
}

.top-right {
    border-radius: 0px 20px 0px 0px;
}

.bottom-right {
    border-radius: 0px 0px 20px 0px;
}

.bottom-left {
    border-radius: 0px 0px 0px 20px;
}

.secret-path {
    border: 1px lightgray dashed;
}

.white-border-square {
    border: 1px grey solid;
}

.wrong-square {
    border: 15px red solid;
}

.castle-square {
    padding: 2px 1px;
}

/* Styles for the card and the card stack below the card */
.card {
    z-index: 4;
    height: 180px;
    width: 100px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-stack-1 {
    position: absolute; 
    margin-top: 15px;
    margin-left: 15px;
    z-index: 1;
    height: 180px;
    width: 100px;
    border: black 2px solid;
    border-radius: 10px;
}

.card-stack-2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    height: 180px;
    width: 100px;
    border: black 2px solid;
    border-radius: 10px;
}

.card-stack-3 {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 3;
    height: 180px;
    width: 100px;
    border: black 2px solid;
    border-radius: 10px;
}

.card-hidden {
    background-color: green;
    background-image: url("../images/card-pattern.jpg");
    background-size: contain;
}

.card-square {
    height: 50px;
    width: 50px;
}

/* Player status styles */
.status-container {
    display: flex;
    justify-content: space-evenly;
    align-items: bottom;
    width: 80%;
    margin: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: purple;
}

.active-player {
    border-bottom: 3px purple solid;
}

.status-container-player {
    margin-top: 15px;
    padding-top: 10px;
}

.turn-phase {
    width: 394px;
}

.current-phase {
    font-family: 'Montserrat', sans-serif;
    color: purple;
}

/* Styles for tokens */

.status-token {
    height: 100px;
}

.token, .gumdrop, .castle-token {
    z-index: 2;
    height: 60px;
    width: 60px;
}

/* Modal styles */

.w3-container {
    text-align: center;
}

.w3-modal-content {
    width: 400px;
}

#castle-winner-img {
    width: 100px;
}

